<div class="container quiz-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <h2>新着の問題一覧</h2>
      <div class = "row">
        <% quizzes.each do |quiz| %>
          <div class = "col-sm-4">
            <h3><%= quiz.title %></h3>
            <% if quiz.image.attached? %>
              <%= image_tag quiz.image %>
            <% end %>
            <% if quiz.image_answer.attached? %>
              <%= image_tag quiz.image_answer %>
            <% end %>
            <p><%= quiz.sentence %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>