<div class="container bg-dark quiz-wrapper m-4">
  <div class="row">
    <div class="col-sm-12">
      <h2>新着の問題一覧</h2>
      <div class = "row justify-content-around">
        <% quizzes.each do |quiz| %>
          <div class = "col-sm-3 card bg-light">
            <%= render 'quizzes/quiz', quiz: quiz %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>