// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.quiz-menu {
  background-color: rgb(197, 193, 217);
  text-align: center;
  margin-top: 30px ;
}

.quiz-wrapper {
  background-color: bisque;
  text-align: center;
  margin-top: 50px;
  height: 200px;
}